server:
  port: 3000

spring:
  mvc:
    format:
      date: dd/MM/yyyy HH:mm:ss
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/allure?serverTimezone=GMT%2B8&useSSL=FALSE
    username: root
    password: 777888love@#
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: true

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    use-actual-param-name: true
    auto-mapping-behavior: full
